.container {
    display: block;
    /*background-color: blue;*/
    /*background-image: url(../public/headerCover.png);*/
    /*background-image: url(../public/headerTest1.jpg);*/
    background-image: url(../../public/headerTest2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /*height: 557px;*/
    height: 450px;
    background-color: #f7f7f7;
}

.topBox {
    display: flex;
    flex-direction: row;
    /*background-color:cadetblue;*/
    height: 22%;
}

.topBox__logo {
    margin: 5px 5px 0 0;
}

.topBox__right {
    display: flex;
    flex-direction: row;
    /*background-color: chocolate;*/
    width: 50%;
}

/*
.topBox__right__icon {
    display: block;
    background-image: url(../public/makaserulogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: relative;
    margin: 3% 0% 0% 5%;
}

.topBox__right__logoName {
    display: block;
    background-image: url(../public/OovoLogo.webp);
    background-image: url(../public/MAKASERU.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height:60px;
    position: relative;
    margin: 5% 0% 0% 0%;
}
*/

.topBox_left {
    display: flex;
    flex-direction: column;
    /*background-color: darkkhaki;*/
    width: 50%;
}

.topBox_left__Language {
    display: flex;
    flex-direction: row;
    /*background-color: darkorchid;*/
    height: 31%;
    justify-content: right;
    padding-top: 3.2%;
}

.topBox_left__Language_JA {
    display: block;
    /*background-color: white;*/
    padding-right: 1%;
    margin-right: 5%;
}

.topBox_left__Language_EN {
    display: block;
    /*background-color: none;*/
    padding-right: 4%;
    margin-right: 5%;
}

/*
.topBox_left__Language_on p {
    color: #0B318E;
}
*/

/*
.topBox_left__Language_off p {
    color: white;
}
*/

.topBox_left__nav {
    display: flex;
    flex-direction: row;
    /*background-color:darkslateblue;*/
    justify-content: right;
    margin-top: 5%;
    height: 33%;
}

.topBox_left__nav div {
    display: block;
    margin-right: 5%;
}

.bottomBox {
    display: block;

    /*
    transition: opacity 800ms cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 800ms cubic-bezier(0.165, 0.84, 0.44, 1.05);
    transition-delay: 1000ms;
    */
}

.bottomBox:hover {
    transform: translateY(-4px);
    transition-duration: 700ms;
}

.bottomBox__EN {
    color: white;
    font-size: 36px;
    font-weight: 500;
    padding-left: 3%;
    /*filter: drop-shadow(30px 10px 4px #000000);*/
}

.bottomBox__JA {
    color: white;
    font-size: 48px;
    font-weight: 700;
    padding-left: 2.2%;
    /*filter: drop-shadow(30px 10px 4px #000000);*/
}

@media screen and (max-width: 870px) {
    /* 959px以下に適用されるCSS（タブレット用） */
    .container {
        background-size: cover;
        height: 500px;
    }

    .bottomBox {
        margin-top: 5%;
    }
}

@media screen and (max-width: 540px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .container {
        height: 570px;
    }

    .topBox {
        flex-direction: column;
    }

    .topBox_left {
        flex-direction: column;
        width: 100%;
    }

    .topBox_left__nav {
        display: flex;
        flex-direction: row;
        /*background-color:darkslateblue;*/
        justify-content: center;
        margin-top: 5%;
        height: 33%;
    }

    .bottomBox {
        margin-top: 18%;
    }

    .bottomBox__EN {
        padding-left: 4%;
    }
}

@media screen and (max-width: 640px) {
    .topBox_left__nav {
        justify-content: right;
        margin-top: 8%;
    }

    .topBox__right {
        width: 100%;
    }
}
