/*desc*/

.desc a {
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  -webkit-text-decoration-thickness: 2px;
}

.desc p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  padding-bottom: 2rem;
}
