.container {
    overflow: hidden;
    width: 100%;
    /*background-color: blue;*/
}

.top {
    background-color: #0a1546;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top__logo {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    margin-right: auto;
    padding: 2% 1%;
}
/*
.top__logo__icon {
    background-image: url(../public/OovoIcon.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}
.top__logo__name {
    background-image: url(../public/OovoLogo.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    height: 60px;
}
*/
.top__language {
    display: flex;
    flex-direction: row;
    height: 31%;
    justify-content: right;
    padding-top: 20px;
    padding-right: 30px;
    width: 50%;
}

.top__language__JA {
    margin-right: 5%;
}

/*****/

/*
.body {
    background-color: aqua;
}
*/

.top__title {
    background-image: url(../../public/blogTop.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 140px;
    font-size: 40px;
    font-weight: 800;
    line-height: 48.5px;
    position: relative;
    padding: 40px 0 0 40px;
}

.rowcontent {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.content {
    /*background-color: burlywood;*/
    border-bottom: 0.1px lightgray;
    padding: 0 60px;
}

.content__head {
    /*background-color: chartreuse;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.content__head__top {
    /*background-color: chocolate;*/
    font-size: 36px;
    font-weight: 800;
    line-height: 43.7px;
    padding: 0 0 30px 0;
}

.content__head__content {
    /*background-color: darkgray;*/
    display: flex;
    flex-direction: row;
}

.content__head__left {
    width: 60%;
}

.content__head__right {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.content__head__left__top {
    /*background-color: cornflowerblue;*/
    display: flex;
    flex-direction: row;
}

/*
.content__head__left__bottom {
    background-color: crimson;
    display: flex;
    flex-direction: row;
}
*/

.blog__blandColor {
    color: #0c318f;
}

.blog__lightgrey {
    color: lightgrey;
}

.blog__grey {
    color: grey;
}

/*
.content__main {
    background-color: darkgreen;
}
*/

.content__main__topBox {
    /*background-color: darkkhaki;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.content__main__topBox Image {
    width: 100%;
}

.content__main__topBox h2 {
    font-size: 30px;
}

.content__main__topImage {
    /*
  width: 700px;
  height: 400px;
  */

    object-fit: cover;
}

.content__main__description {
    /*background-color: darkmagenta;*/
    padding: 50px 0 40px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    letter-spacing: 0.2px;
    color: black;
}

.content__main__description a {
    text-decoration: underline;
}

.content__main__body {
    /*background-color: darkorange;*/
    padding-top: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    letter-spacing: 0.2px;
    color: black;
    margin-bottom: 60px;
}

.content__main__body img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin: 20px 0 40px 0;
}

.content__main__body h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 46px;
    padding: 20px 0;
}

.content__main__body h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    padding: 20px 0;
}

.content__main__body h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    padding: 20px 0;
}

.content__main__body h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 20px 0;
}

.content__main__body h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding: 20px 0;
}

.content__main__body h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 20px 0;
}

.content__main__body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
}

.content__main__body strong {
    font-weight: 700;
}

.content__main__body a {
    text-decoration: underline;
}

/*
.content__main__body__bigBox {
    background-color: darkred;
}
*/

.footer {
    /*background-color: cadetblue;*/
    padding: 0 30px;
}

.footer__feed {
    /*background-color: chartreuse;*/
    display: flex;
    flex-direction: row;
    border-top: solid 1px lightgrey;
    border-bottom: solid 0.1px lightgrey;
    padding: 40px 10px;
}

.icon {
    border-radius: 4px;
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 6px;
}

.mail {
    background-color: #131416;
    padding-top: 2px;
}

.pinterest {
    background-color: #b90315;
    padding-top: 4px;
}

.facebook {
    background-color: #4064ad;
    padding-top: 4px;
}

.twitter {
    background-color: #1e9ceb;
    padding-top: 4px;
}

.linkedin {
    background-color: #0273af;
    padding-top: 4px;
}

.footer__content {
    /*background-color: indianred;*/
    padding: 30px 0;
}

.footer__content__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #c0c6ca;
    margin-bottom: 20px;
}

.footer__content__relate__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer__content__relate__unit {
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}

.footer__content__relate__unit__image {
    object-fit: cover;
}

.footer__content__relate__unit__textbox {
    padding: 0 10px;
}

.footer__content__relate__unit__textbox p {
    font-size: 10px;
    color: grey;
    font-weight: 400;
}

.footer__content__relate__unit__textbox h2 {
    font-size: 13px;
    color: black;
    font-weight: 400;
}

.side {
    display: none;
}

.side__content {
    width: 300px;
    /*background-color:burlywood;*/
}

.side__box {
    width: 200px;
    margin-top: 20px;
}

.side__title {
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    color: #212326;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.side__title__category:before {
    content: url(../../public/category.svg);
    margin-right: 1px;
}

.side__title__popular:before {
    content: url(../../public/ranking.svg);
    margin-right: 1px;
}

.side__title__relation:before {
    content: url(../../public/related.svg);
    margin-right: 1px;
}

.side__title__name {
    margin-top: 4px;
}

.side__list p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.4px;
    color: #212326;
}

.side__unit {
    padding: 14px 0;
    border-bottom: 0.01px solid;
    border-color: #d2d5d9;
    cursor: pointer;
}

.category {
    display: none;
}

.tocArea {
    background-color: #f0f1f2;
    padding: 50px;
}

.tocArea h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.tocArea li {
    margin-bottom: 10px;
}

/*
.toc {
    background-color: #f0f1f2;
    padding: 30px 50px;
}
*/

.toc ul {
    list-style: none;
}

.topImageBox {
    width: 100%;
}

.content__main h2 {
    font-size: 33px;
    font-weight: 400;
    margin-top: 50px;
}

.content__main h3 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 0px;
}

@media screen and (min-width: 1115px) {
    .side {
        width: 29%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer {
        display: none;
    }

    .content__main__description {
        padding: 50px 50px 40px 50px;
    }

    .content__main__toc {
        padding: 0 50px 0 50px;
    }

    .content__main__body {
        padding: 50px 0 40px 0;
    }
}
