/*header*/
.blog-header {
  background-image: url(../../public/BlogTop.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: 800;
  line-height: 48.5px;
  position: relative;
  padding: 50px;
}

.blog-header h1 {
  text-decoration: underline 2px solid;
  cursor: pointer;
  font-size: 40px;
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  -webkit-text-decoration-thickness: 2px;
}

/*body*/

.content {
  border-bottom: 0.1px lightgray;
  padding: 30px 100px 0 100px;
}

.content__body__desc {
  padding: 40px 0;
}

.content__head {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.content__head__desc {
  display: flex;
  flex-direction: row;
}

.content__head__desc__left {
  width: 60%;
}

.content__head__desc__right {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.content__head__left__top {
  display: flex;
  flex-direction: row;
}

.content__head__left__top div {
  display: flex;
  flex-direction: row;
}

.content__head__title {
  font-size: 36px;
  font-weight: 800;
  line-height: 43.7px;
  padding-bottom: 30px;
}

.rowcontent {
  display: flex;
  flex-direction: row;
}

/*side*/
.side {
  display: none;
}

.side__box {
  padding-bottom: 30px;
}

.side__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: grey;
}

.side__list p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.4px;
  color: #212326;
}

.side__title__name {
  margin-top: 4px;
}

.side__unit {
  padding: 14px 0;
  border-bottom: 0.01px solid;
  border-color: #d2d5d9;
  cursor: pointer;
}

@media screen and (min-width: 1115px) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 50px 0 0;
    width: 30%;
  }

  .content {
    width: 70%;
  }

  .footer {
    display: none;
  }

  .content__body__desc {
    padding: 70px 50px 0 50px;
  }

  .content__main__toc {
    padding: 50px 0 50px;
  }

  .content__main__body {
    padding: 0 50px 0 50px;
  }
}

@media screen and (max-width: 600px) {
  .content__head__desc {
    flex-direction: column;
    justify-content: center;
  }

  .content__head__left__top {
    flex-direction: column;
  }

  .content__head__desc__left,
  .content__head__desc__right {
    width: 100%;
    padding: 5px 0;
  }

  .hide {
    display: none;
  }

  .content {
    padding: 30px 30px 0 30px;
  }

  .blog-header h1 {
    font-size: 30px;
  }
}
