/*common*/
.container {
  background-image: url(../../public/HomeHeader.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}

/*top*/
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top__right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-top: 20px;
}

.top__right div {
  display: block;
  padding-right: 5px;
}

.top__right--burger {
  display: none;
  cursor: pointer;
}

/*nav*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.nav a {
  display: block;
  padding-right: 10px;
}

/*bottom*/
.bottomBox {
  padding: 50px 0 100px 0;
}

.bottomBox__EN {
  color: white;
  font-size: 36px;
  font-weight: 500;
  padding-left: 3%;
  opacity: 0;
  transform: translateY(50px);
  -moz-transition: opacity 1.5s, transform 1.5s;
  -webkit-transition: opacity 1.5s, transform 1.5s;
  -o-transition: opacity 1.5s, transform 1.5s;
  transition: opacity 1.5s, transform 1.5s;
}

.bottomBox__JA {
  color: white;
  font-size: 48px;
  font-weight: 700;
  padding-left: 2.2%;
  opacity: 0;
  transform: translateY(50px);
  -moz-transition: opacity 1.5s 0.4s, transform 1.5s 0.4s;
  -webkit-transition: opacity 1.5s 0.4s, transform 1.5s 0.4s;
  -o-transition: opacity 1.5s 0.4s, transform 1.5s 0.4s;
  transition: opacity 1.5s 0.4s, transform 1.5s 0.4s;
}

.loaded {
  opacity: 1;
  transform: translateY(0);
}

/*burger*/
.burgerMenu {
  position: absolute;
  top: -200px;
  opacity: 0;
  background-color: white;
  padding: 20px 150px;
  width: 100%;
  transform: translateY(0);
  -moz-transition: opacity 1s 0s, transform 1s 0s;
  -webkit-transition: opacity 1s 0s, transform 1s 0s;
  -o-transition: opacity 1s 0s, transform 1s 0s;
  transition: opacity 1s 0s, transform 1s 0s;
  z-index: 1;
}

.burgerMenu--active {
  opacity: 1;
  transform: translateY(200px);
  -moz-transition: opacity 1.5s 0s, transform 1.5s 0s;
  -webkit-transition: opacity 1.5s 0s, transform 1.5s 0s;
  -o-transition: opacity 1.5s 0s, transform 1.5s 0s;
  transition: opacity 1.5s 0s, transform 1.5s 0s;
}

.burgerMenu__item {
  color: black;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-bottom: grey 1px solid;
  cursor: pointer;
}

.burgerMenu__item--close {
  border-bottom: none;
  cursor: pointer;
  display: flex;
  justify-content: right;
}

@media screen and (max-width: 750px) {
  .top__right--burger {
    display: block;
  }

  .middle {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .burgerMenu {
    padding: 20px 50px;
  }
}
