.container {
    overflow: hidden;
    width: 100%;
    /*background-color: blue;*/
}

.top {
    background-color: #072572;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top__logo {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    margin-right: auto;
    padding: 2% 1%;
}
/*
.top__logo__icon {
    background-image: url(../public/OovoIcon.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}
.top__logo__name {
    background-image: url(../public/OovoLogo.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    height: 60px;
}
*/
.top__language {
    display: flex;
    flex-direction: row;
    height: 31%;
    justify-content: right;
    padding-top: 20px;
    padding-right: 30px;
    width: 50%;
}

.top__language__JA {
    margin-right: 5%;
}

.side {
    /*visibility:hidden;*/
    display: none;
}

.body {
    padding-top: 30px;
}

.blog {
    /*background-color:aqua;*/
    width: 100%;
}

.blog__top {
    /*background-color: blueviolet;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.blog__top__card {
    /*background-color: darkorange;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*width: 760px;*/
    width: 100%;
}

.blog__top__content {
    /*background-color: darksalmon;*/
    margin: 10px 10px 5px 10px;
    padding-top: 5px;
}

.blog__top__image {
    /*
    background-color: darkgrey;
    background-size: cover;
    background-repeat: no-repeat;
    */
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.blog__top__category {
    color: #0c318f;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.blog__top__title {
    color: black;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 42.7px;
}

.blog__top__bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.blog__author {
    color: #0c318f;
}

.blog__lightgrey {
    color: lightgrey;
}

.blog__grey {
    color: grey;
}

.blog__list {
    /*background-color: burlywood;*/
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.blog__list__unit {
    /*background-color: chocolate;*/
    width: 380px;
}

.blog__list__unit__card {
    /*background-color:darkkhaki;*/
    margin: 10px;
    cursor: pointer;
}

.blog__list__unit__card__image {
    object-fit: cover;
    /*
  width: 100%;
  height: 150px;
  */
}

.blog__list__unit__content {
    /*background-color: darksalmon;*/
    margin: 5px 10px 0px 10px;
    padding: 5px 0px;
}

.blog__list__unit__card__category {
    color: #0c318f;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.blog__list__unit__card__title {
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 21.4px;
}

.blog__list__unit__card__bottom {
    width: 100%;
    display: flex;
    flex-direction: flex-end;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 400;
}

.blog__list__unit__card__author {
    font-size: 13px;
    margin-right: auto;
}

.blog__list__unit__card__createdAt {
    font-size: 13px;
    text-align: right;
}

.blog__page {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blog__page__box {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blog__page__box div {
    width: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.blog__page__on {
    color: #0c318f;
}

.side__content {
    width: 300px;
    /*background-color:burlywood;*/
}

.side__box {
    width: 200px;
    margin-top: 20px;
}

/*
.side__popular {
    width: 200px;
}
*/

.side__title {
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    color: #212326;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.side__title__category:before {
    content: url(../public/category.svg);
    margin-right: 1px;
}

.side__title__popular:before {
    content: url(../public/ranking.svg);
    margin-right: 1px;
}

.side__title__relation:before {
    content: url(../public/related.svg);
    margin-right: 1px;
}

.side__title__name {
    margin-top: 4px;
}

.side__list p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.4px;
    color: #212326;
}

.side__unit {
    padding: 14px 0;
    border-bottom: 0.01px solid;
    border-color: #d2d5d9;
}

.none {
    width: 100%;
    height: 50px;
}

.test {
    width: 100%;
    background-color: aquamarine;
}

.category {
    display: none;
}

.main__preparation {
    font-size: 25px;
    font-weight: 800;
    margin: 100px 0;
    text-align: center;
}

.sub__preparation {
    font-size: 20px;
}

@media screen and (max-width: 420px) {
    .top__language {
        padding-right: 10px;
    }
}

@media screen and (min-width: 1115px) {
    .body {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }

    .side {
        /*visibility: visible;*/
        width: 29%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .blog {
        width: 70%;
        margin-right: auto;
    }
}
