.service {
    width: 100%;
    padding-top: 5%;
    background-color: #f7f7f7;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.service__title {
    width: 30%;
    text-align: start;
    padding-left: 30px;
    margin-bottom: 30px;
}

.service__title h1 {
    font-weight: 700;
    font-size: 56px;
    color: #0b318e;
}

.service__title p {
    font-size: 13px;
    font-weight: 400;
    color: #222222;
    line-height: 20px;
}

.service__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    width: 70%;
    list-style: none;
}

.service__list li {
    background-color: #eff0f0;
    height: 300px;
    width: 300px;
    margin: 10px;
    padding: 20px;
}

.service__list h2 {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: #555555;
    flex: 1;
}

.service__list p {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #555555;
    margin-top: 150px;
}

.point {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 7%;
    padding-top: 5%;
}

.point__left {
    background-image: url(../public/talk.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    margin-left: 6%;
}

.point__right {
    width: 40%;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.point__right h1 {
    font-size: 56px;
    font-weight: 700;
    color: #0b318e;
    line-height: 56px;
    margin-bottom: 5%;
}

.point__right h2 {
    font-size: 20px;
    font-weight: 500;
    color: #222222;
    line-height: 30px;
    margin-bottom: 5%;
}

.point__right p {
    font-size: 13px;
    font-weight: 400;
    color: #222222;
    line-height: 20px;
}

.project {
    width: 100%;
    padding-top: 5%;
    background-color: #f7f7f7;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project__title {
    width: 30%;
    text-align: start;
    padding-left: 30px;
    margin-bottom: 30px;
}

.project__title h1 {
    font-weight: 700;
    font-size: 56px;
    color: #0b318e;
}

.project__title p {
    font-size: 13px;
    font-weight: 500;
    color: #222222;
    line-height: 20px;
}

.none__box {
    height: 100px;
}

.category {
    display: none;
}

.project__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    width: 70%;
    list-style: none;
}

.project__list li {
    background-color: #eff0f0;
    height: 300px;
    width: 300px;
    margin: 10px;
    padding: 20px;
}

.project__list h2 {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: white;
    /*color: rgb(26, 32, 44);*/
    flex: 1;
}

.project__list h3 {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    /*color: rgb(26, 32, 44);*/
    margin-top: 100px;
}

.project__list p {
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    /*color: rgb(26, 32, 44);*/
}

.bgBlue {
    background: linear-gradient(to bottom right, #999999, #999999);
}

@media screen and (max-width: 640px) {
    .point {
        /*height: 250px;*/
        flex-direction: column;
        padding-top: 10%;
    }

    .point__left {
        visibility: hidden;
    }

    .point__right {
        width: 80%;
        padding: 0%;
        margin: 0% 5%;
    }

    .point__right h1 {
        margin-bottom: 7%;
    }

    .point__right h2 {
        margin-bottom: 7%;
    }
}

@media screen and (max-width: 990px) {
    .service__title {
        width: 100%;
    }

    .service__list {
        width: 100%;
    }

    .project__title {
        width: 100%;
    }

    .project__list {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .service__list {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .service__list li {
        display: inline-block;
        width: 80%;
    }

    .service__item__textbox {
        display: block;
        overflow: hidden;
        white-space: normal;
    }

    .service__list p {
        height: 100px;
    }

    .project__list {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .project__list li {
        display: inline-block;
        width: 80%;
    }

    .project__list div {
        display: block;
        overflow: hidden;
        white-space: normal;
    }

    .project__list h2 {
        height: 30px;
    }

    .project__list h3 {
        margin-top: 130px;
        height: 80px;
    }
}

/*

@media screen and (max-width: 425px) {
    .service__item h2 {
        font-size: 30px;
    }

    .project__list {
        padding-right: 10%;
    }
}

@media screen and (max-width: 375px) {

    .service__item {
        width: 100%;
        border-radius: 0%;
        height: 120px;
    }
}

*/
