.container {
    background-color: #072572;
    display: block;
    width: 100%;
    padding-top: 1%;
}

.top {
    position: relative;
    margin: 0% 0% 0% 3%;
    display: flex;
    flex-direction: row;
}
/*
.top__logoIcon {
    background-image: url(../public/makaserulogo.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 62px;
    width: 62px;
    margin-right: 1%;
}

.top__logoName {
    background-image: url(../public/MAKASERU.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 200px;
    margin-top: 2px;
}
*/

.bottom {
    width: 60%;
    /*background-color: darkorchid;*/
    margin-left: 3%;
    flex-wrap: wrap;
    margin-top: 2%;
}

.bottom__first {
    display: flex;
    flex-direction: row;
}

.bottom__second {
    display: flex;
    flex-direction: row;
}

.bottom__button {
    width: 300px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.none {
    height: 50px;
}

.copyRight {
    color: white;
    font-size: 13px;
    /*
    position: relative;
    margin: 5% 0% 0% 1%;
    */
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: 0;
}

@media screen and (max-width: 880px) {
    .bottom__first {
        display: flex;
        flex-direction: column;
    }

    .bottom__second {
        display: flex;
        flex-direction: column;
    }

    .bottom__button {
        font-size: 24px;
    }

    .bottom {
        width: 80%;
    }

    .none {
        height: 50px;
    }
    /*
    .container {
        height: 260px;
    }
    */
}
